/user_guide/*
/system/*
/assets/*
/upload/*
/application/config/database.php
*~
!/assets/js
!/assets/css
!/assets/scss
!/assets/img
*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess
